@import "./ThemeVariables.scss";
@import "./Theme.scss";
@import "./Utilities.scss";

.ms-AppFrame {
  @include body-font();
  display: grid;
  grid-template-rows: 50px 40px auto;
  grid-template-columns: 207px auto;
  grid-template-areas:
    "header header"
    "search commands"
    "nav content";
  width: 100vw;
  height: 100vh;
}

.ms-Search {
  grid-area: search;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid $borderColorVar;

  & > * {
    margin: 0 8px;
  }
}

.ms-SideNav {
  grid-area: nav;
  display: flex;
  border-right: 1px solid $borderColorVar;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-weight: 100;
  font-size: 18px;
  padding: 20px 0;
}

.ms-SideNavButton {
  justify-content: start;
  font-weight: 100;
  font-size: 18px;
  padding: 0 16px;
  height: 36px;
}

.ms-ItemView {
  position: relative;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  overflow: auto;

  & > * {
    margin-top: 20px;
  }

  & > *:first-child {
    margin-top: 0;
  }
}

.ms-Breadcrumb {
  font-size: 28px;
  font-weight: 100;
}

.ms-Folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 8px;
}

.ms-FolderButton {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border-radius: 3px;
}

.ms-FolderTitle {
  @include no-wrap();
}

.ms-FolderDate {
  @include no-wrap();
  font-size: 12px;
  color: $subTextColorVar;
}
